{% extends "account/base.html" %} {% load i18n %} {% load crispy_forms_tags %}
{% block head_title %}{% trans "Signup" %}{% endblock %} {% block content %}
<div class="row justify-content-center m-0">
  <div class="col-md-6 border border-white p-5 bg-white text-dark rounded my-5">
    <div class="text-center">
      <h1>{% trans "Sign Up" %}</h1>
  
      <p>
        {% blocktrans %}Already have an account or want to login via Google account? Then please
        <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}
      </p>
    </div>
  
    <form
      class="signup"
      id="signup_form"
      method="post"
      action="{% url 'account_signup' %}"
    >
      {% csrf_token %} {{ form|crispy }} {% if redirect_field_value %}
      <input
        type="hidden"
        name="{{ redirect_field_name }}"
        value="{{ redirect_field_value }}"
      />
      {% endif %}
      <button class="btn btn-outline-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>
    </form>
  </div>
</div>

{% endblock %}
