{% extends './index.html' %} {% block css %} {% endblock css %} {% load crispy_forms_tags %} {%block title%}Store{% endblock title %}
{% block content %}
<div class="container">
  <div class="row my-3">
    <div class="col-md-8">
      <div class="flask-message">
        {%if messages %} {% for message in messages%}
        <div class="alert alert-{{message.tags}}">
          {% if user.is_authenticated %}
          {{request.user}} {{message}}
          {% else %}
          {{message}}
          {% endif %}
        </div>
      {% endfor %} {%endif %}
      </div>
      <div class="product-section">
        <a href="{% url 'blog:create_book'%}">Create A Product</a>
        
      </div>
      
    </div>
    <div class="col-md-4">

    </div>
  </div>
</div>
{% endblock content %}
{% block JS %} {% endblock JS %}
